<!--
============================================
; Title: Exercise 2.4 - Routing in Action
; Author: Andres Macias
; Date: Nov 7 2022
; Description: contains the table to display the composer fullName and genre
;===========================================
-->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Full name</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody *ngFor="let composer of composers">
    <tr>
      <td scope="row">{{composer.fullName}}</td>
      <td>{{composer.genre}}</td>
    </tr>
  </tbody>
</table>
