<!--
============================================
; Title: Exercise 2.4 - Routing in Action
; Author: Andres Macias
; Date: Nov 7 2022
; Description: contains a bootstrap row and column with an image of the composer and a brief description
;===========================================
-->

<div class="row">
  <div class="col-sm-12">
    <h2>Antonio Vivaldi</h2>
    <hr>
  </div>
  <div class="col-sm-4">
    <figure>
      <img src="../../assets/vivaldi-composer.jpeg" alt="Antonio Vivaldi" width="50%">
    </figure>
    <figcaption>Source: https://pixabay.com/photos/vivaldi-antonio-vivaldi-composer-5221554/</figcaption>
  </div>
  <div class="col-sm-8">
    <p>Antonio Vivaldi, in full Antonio Lucio Vivaldi, (born March 4, 1678, Venice, Republic of Venice [Italy]—died July
      28, 1741, Vienna, Austria), Italian composer and violinist who left a decisive mark on the form of the concerto
      and
      the style of late Baroque instrumental music.
      Vivaldi’s earliest musical compositions date from his first years at the Pietà. Printed collections of his trio
      sonatas and violin sonatas respectively appeared in 1705 and 1709, and in 1711 his first and most influential set
      of concerti for violin and string orchestra (Opus 3, L’estro armonico) was published by the Amsterdam
      music-publishing firm of Estienne Roger.
      <span>- https://www.britannica.com/biography/Antonio-Vivaldi</span> </p>
  </div>
</div>
