<div fxLayout="row wrap">
  <div fxFlex>
    <h1 class="blue">TBD</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat arcu nec purus bibendum, et fermentum
      massa condimentum. Donec convallis porta enim, id posuere est accumsan ut. Phasellus eu quam vel eros congue
      tristique et sit amet ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Duis tincidunt nisi in lectus semper, eget efficitur diam vehicula. Maecenas ultrices accumsan nisi, a
      ullamcorper felis tempus sit amet. Phasellus sem massa, sagittis ut pharetra non, malesuada nec nisl. Duis
      pharetra risus vulputate tellus malesuada, vitae lacinia est molestie. Donec at metus nec nibh blandit semper. Sed
      sodales turpis rhoncus blandit pulvinar. Sed id dui velit. Nunc pulvinar erat quis est dignissim, in malesuada
      ligula feugiat. Ut pretium sit amet enim nec rhoncus. Pellentesque ut rhoncus leo. Duis sed justo lorem. Morbi
      orci magna, imperdiet sed nunc et, consequat vehicula risus.

      Fusce sit amet dignissim lacus. Praesent in lacinia neque. Mauris iaculis lorem lectus, ac faucibus ex consectetur
      pellentesque. Sed tellus sapien, semper at congue vehicula, mattis sit amet leo. Integer at odio ut enim porta
      cursus. Aliquam mi erat, bibendum at luctus nec, rhoncus id justo. Proin laoreet enim a eros sollicitudin
      molestie. Donec fermentum ante et mi laoreet, non vestibulum erat dignissim. Integer in ultrices odio. Phasellus
      at sem vitae tellus aliquam mollis. Aliquam neque justo, imperdiet non efficitur vitae, sagittis in est. In ac
      elit at sem laoreet vehicula ut ac metus. Pellentesque volutpat vehicula mauris vel facilisis. Nulla viverra, sem
      in vehicula suscipit, erat lorem aliquet diam, eu interdum enim arcu non nulla. Aliquam erat volutpat.
    </p>

  </div>
</div>
