<!--
============================================
; Title: Exercise 2.4 - Routing in Action
; Author: Andres Macias
; Date: Nov 7 2022
; Description: contains a bootstrap row and column with the contact information
;===========================================
-->

<div class="row">
<div class="col-sm-12 mb-4">
  <h2>Contact Information</h2>
</div>
<div class="col-sm-6">
  <h1><i class="bi bi-geo-alt-fill"></i></h1>
<address>
  <strong>
    2403 Flora Street, Suite 500 Dallas, Texas 75201
  </strong>
</address>
</div>
<div class="col-sm-6">
<h1><i class="bi bi-person-lines-fill"></i></h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Phone:</strong><span>555-555-3333</span></li>
  <li class="list-group-item"><strong>Fax:</strong><span>555-555-6336</span></li>
</ul>
</div>
</div>
