<!--
============================================
; Title: Assignment 2.3 - Data Binding
; Author: Andres Macias
; Date: Nov 7 2022
; Description: contains nav and main container for the enhanced profile-app
;===========================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a href="#" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br><br>
  <h2>{{assignment}}</h2>
  <!-- The ngIf expression is used to display content based on an expression. Similar to if else statements. -->
  <div class="row" *ngIf="isLoggedIn; else showError">
    <div class="col-sm-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <div class="ul profile-info">
        <app-my-details></app-my-details>
      </div>
    </div>
  </div>

  <!-- The angular ng-template directive is used to render HTML -->
  <ng-template #showError>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="alert alert-danger">
          You are not authorized to view this content.
        </h4>
      </div>
    </div>
  </ng-template>
</div>
