<!--
============================================
; Title: Assignment 1.5
; Author: Andres Macias
; Date: Nov 5 2022
; Description: contains nav and main container for my-app component
;===========================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- The routerLink directive is what angular uses to navigate between components -->
    <li class="nav-item active">
      <a href="#" routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" routerLink="/about" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="#" routerLink="/contact" class="nav-link">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br><br>
      <h2>{{title}}</h2>
    </div>
    <div class="col-sm-12">
      <div class="alert alert-success" role="alert">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
