<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/michael-scott-author-photo.jpg" />
      </div>
      <div>
        <em>
          Photo by Perry Hagopian on <a class="attribution-link" href="https://www.dillonscott.com/"
            target="_blank">dillon scott's website</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">About Michael Scott (dillon scott)</h1>
    <p>
      Irish-born Michael Scott began writing over thirty-five years ago, and is one of Ireland's most successful and
      prolific authors. He has published over 120 titles in 25 languages which are available in 38 countries, spanning a
      variety of genres, including fantasy, science fiction and folklore. He writes for both adults and young adults and
      is considered one of the authorities on the folklore of the Celtic lands. He is credited with the resurgence of
      interest in the subject in the mid-1980's. His collections, Irish Folk & Fairy Tales, Irish Myths & Legends and
      Irish Ghosts & Hauntings have remained continuously in print for the past thirty years and are now included
      amongst the definitive and most-quoted works on the subject.
      His horror novels, Banshee, Image, Reflection, Imp and Hallows are considered cult classics of the genre and draw
      heavily upon his encyclopedic knowledge of folklore.
      In the United States, the first two volumes of his fantasy trilogy, Silverhand and Silverlight, were published to
      exceptional reviews, Publishers Weekly declaring, “This shows how good fantasy can be.”
      Whom The Gods Love, a ground-breaking dark fantasy set in the hitherto unexplored world of ancient Etruria before
      the rise of the Roman Empire and The Merchant Prince, an historical fantasy set in the Elizabethan era, give an
      example of the breadth of his writing. The Irish Times called him, “The King of Fantasy in these Isles" and he is
      featured in Who's Who in Ireland as one of 1000 "most significant Irish."

      Michael Scott is an accomplished scriptwriter and headed up the drama department in Tyrone Productions, the
      creators of Riverdance. He has written for the stage and screen and also created and scripted documentaries and
      drama for television. He has also scripted high profile events such as the Special Olympics which were held in
      Ireland in 2002 and the Irish Film and Television Awards.
    </p>
    <em>Biography by: <a href="https://www.dillonscott.com/" target="_blank"
        class="attribution-link">dillonscott.com</a></em>
  </div>
</div>
