<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">Navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>1745 Broadway New York</p>
      <p>Ny, 10019</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 555-444-3210</p>
      <p>Toll-free: 1-800-555-5555</p>
      <p>Fax: 555-555-2345</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at the Penguin Random House.
  </p>
</div>
